.cryptos__wrap-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 30px;
  gap: 16px;

  &--card {
    width: 90%;
    min-width: 340px;
    max-width: 340px;
    background-color: rgb(207, 198, 198);
    border-radius: 12px;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;

    &--btn-plus {
      background-color: transparent;
      border: none;
      color: white;
      font-size: 2.5rem;
      position: absolute;
      top: 8px;
      right: 12px;
      cursor: pointer;
    }

    &__title {
      width: 100%;
      display: flex;
      align-items: center;

      &--container-img {
        width: 50px;
        height: 50px;

        &--img {
          width: 100%;
          height: 100%;
        }
      }

      & h3 {
        margin-left: 8px;
      }
    }

    &__description {
      margin-top: 12px;
      & h4 {
        margin: 6px;

        & span {
          text-align: end;
        }

        & .currency,
        .percentage-24h {
          margin: 0 6px;
        }
      }
    }
  }
}
.percentage-24h,
.positive {
  color: green;
}
.percentage-24h,
.negative {
  color: red;
}
